<div class="post mb-3">
    <header class="post-header post-header-title">
            <a href="/post/{{id}}">{{subject}} </a>
    </header>

    <div class="post-body">
        <div class="body-of-post">
            {{post_body}}
        </div>
        <div class="mt-3 details">
            <b>{{user.username}}</b>
            | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment"
                comments.length}}</a>
        </div>

    </div>